<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="fullscreen">
<ul class="nav" id="navbar">
    <li class="navLLi"><a href="/public/html/index.html">Home</a></li>
    <li class="navLLi"><a href="/public/html/List.html">Card Search</a></li>
    <li class="navRLi"><a href="/public/html/login.html" id="logB">Login</a></li>
</ul>
<div class="container">
    <form id="searchForm">
        <input type="text" id="input" placeholder="Search for a card">
        <button id="search" type="submit">Search</button>
    </form>
    <div id="bg1">
        <div class="LWrapper" id="loader-wrapper1">
                <span class="loader">
                </span>
            <p id="fetchPrompt">fetching cards</p>
        </div>
        <ul id="cardL">
        </ul>
        <div id="qty">
            <p>Amount</p>
            <input type="text" id="amountI" placeholder="">
            <button type="button" id="addB">Add</button>
        </div>
    </div>
</div>
<div class="container">
    <form id="saveDeck">
        <input type="text" id="renameInput" placeholder="Rename Deck">
        <button id="saveB" type="submit">Save and Exit</button>
    </form>
    <div id="bg2">
        <div class="LWrapper" id="loader-wrapper2">
                <span class="loader">
                </span>
            <p id="fetchPrompt">Saving deck</p>
        </div>
        <ul id="info">
        </ul>
    </div>
</div>
<div class="container">
    <form id="searchCover">
        <input type="text" id="inputC" placeholder="Search for cover">
        <button id="searchC" type="submit">Search</button>
    </form>
    <div id="bg3">
        <div class="LWrapper" id="loader-wrapper3">
                <span class="loader">
                </span>
            <p id="fetchPrompt">Adding cover</p>
        </div>
        <ul id="coverL">
        </ul>
        <div id="hold1">
            <button type="button" id="addC">Add as cover</button>
        </div>
    </div>
</div>
<script src="/public/js/banner.js"></script>
<script src="/public/js/modify.js"></script>
</body>
</html>