<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body class="fullscreen">
<ul class="nav" id="navbar">
    <li class="navLLi"><a href="/public/html/index.html">Home</a></li>
    <li class="navLLi"><a href="/public/html/List.html">Card Search</a></li>
    <li class="navRLi"><a href="/public/html/login.html" id="logB">Login</a></li>
</ul>

<div id="bg23" class="container">
        <ul id="cardGrid">
        </ul>
</div>
<div id="hold" class="container">
    <ul id="wrapper">
        <li><a id="DeckName"></a></li>
        <li id="coverImage"><img id="coverD"></li>
        <li class="deckInfo" id="colors"></li>
        <li class="deckInfo" id="cmc"></li>
        <li class="deckInfo"><button class="standardB" type="button" id="goEdit">Edit Deck</button></li>
        <li class="deckInfo"><button class="standardB" type="button" id="delD">Delete Deck</button></li>
        </ul>
</div>
<script src="/public/js/banner.js"></script>
<script src="/public/js/single.js"></script>
</body>
</html>