body {
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
    display: inline;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url("../img/retard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    text-align: center;
}

.nav {
    list-style-type: none;
    margin-bottom: -4px;
    margin-left: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    display: inline-block;
}
.navRLi{
    float: right;
    border-left: 1px solid #bbb
}

.navLLi {
    float: left;
    border-right: 1px solid #bbb;
}

.nav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
.nav li a:hover {
    background-color: #083769;
}

.container {
    padding-top: 10px;
    margin: auto;
    text-align: center;
    display: inline-block;
    align-items: center;
}

.title {
    font-size: 3rem;
}

#matchWarning{
    color: red;
}

.bg {
    height: 70vh;
    overflow: auto;
    background-color: rgba(255,255,255,0.9);
    padding: 1rem;
    text-align: center;
}

#bg1 {
    height: 70vh;
    overflow: auto;
    background-color: rgba(255,255,255,0.9);
    padding: 1rem;
    text-align: center;
}
#bg2 {
    height: 70vh;
    overflow: auto;
    background-color: rgba(255,255,255,0.9);
    padding: 1rem;
    text-align: center;
}
#bg3 {
    height: 70vh;
    overflow: auto;
    background-color: rgba(255,255,255,0.9);
    padding: 1rem;
    text-align: center;
}

.input {
    height: 30px;
    width: 300px;
    display: inline;
    margin-bottom: 20px;
    border: 2px solid black;
}

#loginform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#registerform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.subb {
    display: inline;
    height: 40px;
    width: 100px;
    background-color: #083769;
    color: #FFffff;
    border-radius: 10px;
    border: 2px solid #242f3f;
}

#loginbg {
    display: inline-block;
}

.modF.active{
    color: white;
    background-color: #1c6aa6;
}

.modF:hover{
    color: white;
    background-color: #1c6aa6;
}
#qty{
    float: right;
    padding-left: 10px;
}
#amountI{
    width: 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-grid;
}

.LWrapper {
    position: relative;
    top: 35%;
    display: inline;
    justify-content: center;
    align-items: center;
    opacity: 0;
    text-align: center;
}
.LWrapper.fadeIn{
    opacity: 100;
}
.loader {
    display: inline-block;
    margin: auto;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #242f3f;
    background-color: #Fff;
    animation: loader 2s infinite ease;
}
#fetchPrompt{
    display: inline-list-item;
    opacity: 60%;
}
@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
